{{ 'section-reviews-strip.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="reviews-strip color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width section-{{ section.id }}-padding">
    <div class="reviews-scroll-container">
      <div class="reviews-scroll-content">
        {%- for block in section.blocks -%}
          <span class="review-item" {{ block.shopify_attributes }}>
            {%- if block.settings.star_rating != blank -%}
              <div class="rating" role="img" aria-label="{{ block.settings.star_rating }} out of 5 stars">
                {%- liquid
                  assign rating_decimal = block.settings.star_rating | times: 1.0 
                  assign rating_floor = rating_decimal | floor
                -%}
                
                {%- for i in (1..5) -%}
                  {%- if i <= rating_floor -%}
                    <span class="star">★</span>
                  {%- elsif i == rating_floor.plus1 and rating_decimal != rating_floor -%}
                    <span class="star-half">★</span>
                  {%- else -%}
                    <span class="star-empty">☆</span>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            {%- endif -%}
            
            {%- if block.settings.title != blank -%}
              {{ block.settings.title | escape }}
            {%- endif -%}
            
            {%- if block.settings.text != blank -%}
              {{ block.settings.text | strip_html | escape }}
            {%- endif -%}
            
            {%- if block.settings.link_label != blank -%}
              —{{ " " }}<a
                class="link"
                {% if block.settings.link == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.link }}"
                {% endif %}
              >
                {{- block.settings.link_label | escape -}}
              </a>
            {%- endif -%}
          </span>
        {%- endfor -%}
        
        {%- for block in section.blocks -%}
          <span class="review-item" {{ block.shopify_attributes }}>
            {%- if block.settings.star_rating != blank -%}
              <div class="rating" role="img" aria-label="{{ block.settings.star_rating }} out of 5 stars">
                {%- liquid
                  assign rating_decimal = block.settings.star_rating | times: 1.0 
                  assign rating_floor = rating_decimal | floor
                -%}
                
                {%- for i in (1..5) -%}
                  {%- if i <= rating_floor -%}
                    <span class="star">★</span>
                  {%- elsif i == rating_floor.plus1 and rating_decimal != rating_floor -%}
                    <span class="star-half">★</span>
                  {%- else -%}
                    <span class="star-empty">☆</span>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            {%- endif -%}
            
            {%- if block.settings.title != blank -%}
              {{ block.settings.title | escape }}
            {%- endif -%}
            
            {%- if block.settings.text != blank -%}
              {{ block.settings.text | strip_html | escape }}
            {%- endif -%}
            
            {%- if block.settings.link_label != blank -%}
              —{{ " " }}<a
                class="link"
                {% if block.settings.link == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.link }}"
                {% endif %}
              >
                {{- block.settings.link_label | escape -}}
              </a>
            {%- endif -%}
          </span>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.reviews.name",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.reviews.settings.padding_top.label",
      "default": 8
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.reviews.settings.padding_bottom.label",
      "default": 8
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "t:sections.reviews.blocks.review.name",
      "settings": [
        {
          "type": "range",
          "id": "star_rating",
          "min": 0,
          "max": 5,
          "step": 0.5,
          "default": 5,
          "label": "t:sections.reviews.blocks.review.settings.star_rating.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.reviews.blocks.review.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.reviews.blocks.review.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.reviews.blocks.review.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.reviews.blocks.review.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.reviews.presets.name",
      "blocks": [
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %} 